@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@500&family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
}

main {
    width: 626px;
    height: 486px;
    margin: auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    margin-top: 32px;
    margin-bottom: 16px;
}

h1, p, footer {
    text-align: center;
}

#p {
    margin-top: 32px;
}

p {
    color: #828282;
}

p > span {
    color: #828282;
    font-weight: bold;
}

strong {
    color: black;
}

h1 > span {
    color: #EE24FF;
}

#line {
    width: 391px;
    margin: 64px auto 16px auto;
    border: 1px solid #ECEFF2;
}

footer {
    font-weight: bold;
}

footer > a + a {
    margin-left: 42px;
}

a {
    text-decoration: none;
}

footer > img {
    position: absolute;
    display: block;
    width: 100vw;
    bottom: 0;
}